name: ML CI/CD Pipeline

on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 2 * * *"   # Daily at 2 AM

jobs:
  ml-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r training/requirements.txt

      # STEP 2 — Check new data
      - name: Check for new data
        run: |
          python training/check_new_data.py

      # STEP 3 — Train model
      - name: Train model
        if: success()
        run: |
          python training/train_model.py

      # STEP 4 — Validate & compare
      - name: Validate model
        if: success()
        run: |
          python training/validate_and_compare.py

      # STEP 5 — Promote model
      - name: Promote model
        if: success()
        run: |
          python training/promote_model.py
